.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  &_searchBar {
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

      input {
        border: 1px solid rgba(128, 128, 128, 0.233);
        transition: 0.2s ease;
        padding: 20px;
        height: 40px;
        outline: none;
        width: 60%;
       }
    
       input:focus {
        border: 1px solid rgba(13, 73, 97, 0.411);
       }
  }

  &_list {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }


  &_option {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
    margin: 10px 0px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;

    img {
      width: 55px;
      height: 50px;
      border-radius: 200px;

     }
  }

  &_option:hover {
    background-color: black;
    color: white;
  }  
}


.profile {
   height: 100vh;
   background-color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   
    img {
      width: 200px;
      margin-bottom: 50px;
    }

    h5 {
      font-size: 20px;
      color: black;
    }
}